<div class="messages-list">
    <div *ngFor="let message of messages$ | async" class="message">
        <div class="message-header">{{ 'Tab №' + message.userId }}</div>
        <div class="message-content">{{ message.content }}</div>
    </div>
</div>
<div *ngIf="typingUserId" class="typing-info">
    Tab №{{ typingUserId }} types now...
</div>
<mat-form-field>
    <input matInput [formControl]="messageControl" placeholder="Write message..." (keyup.enter)="onSend()">
    <mat-icon matSuffix (click)="onSend()">send</mat-icon>
</mat-form-field>